<div class="thumbnail col-sm-6 col-md-4 grid-item" style="padding: 15px; margin: 0px">
    <a class="" href="{% url 'groups:single' slug=group.slug %}">
        <img src={{ group.image_url }}>
    </a>
    <div class="caption">
        <!--
            <a class="list-group-item img-responsive" href="{#% url 'groups:single' slug=group.slug %#}">
            -->
        <a class="" href="{% url 'groups:single' slug=group.slug %}">
            <h4>{{ group.name }}</h4>
        </a>
        <p>{{ group.description_html|safe|truncatechars_html:85 }}</p>
        <div class="">
            <span class="badge">{{ group.members.count }} </span>
            member{{ group.members.count|pluralize }}
            <span class="badge">{{ group.posts.count }} </span>
            post{{ group.posts.count|pluralize }}
        </div>
        <h5 class="media-body">
            {% if request.user.is_authenticated and request.user.id == user.id %}
                {% if request.user in group.members.all %}
                    <div class="" style="float: right;">
                        <a href="{% url 'groups:leave' slug=group.slug %}" title="leave"
                           class="btn">
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                            <span class="text-danger icon-label">Leave</span>
                        </a>
                    </div>
                {% else %}
                    <div class="" style="float: right;">
                        <a href="{% url 'groups:join' slug=group.slug %}" title="join"
                           class="btn">
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            <span class="text-success icon-label">Join</span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </h5>
    </div>
</div>
