{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
                {% block pregroup %} {% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
                {% block group_content %} {% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
                {% block postgroup %} {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
