{% extends "groups/group_base.html" %}
{% block pregroup %}
    {% if user.is_authenticated %}
        <div style="padding-top: 10px; padding-bottom: 10px">
            <a href="{% url 'groups:create' %}" class='btn btn-md btn-fill btn-warning'>
                <span class="glyphicon glyphicon-plus-sign"> Create New Group! </span>
            </a>

        </div>
    {% endif %}
    <div class="content">
        <h3>Welcome to the group page!</h3><br>
    </div>
{% endblock %}

{% block group_content %}
<div class="">
    <div class="list-group row">
        {% for group in object_list %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a class="pop" href="#">
                        <img src={{ group.image_url }}>
                    </a>
                    <a class="list-group-item img-responsive" href="{% url 'groups:single' slug=group.slug %}">
                        <div class="caption">
                            <h3>{{ group.name }}</h3>
                            <p>{{ group.description_html|safe|truncatechars_html:85 }}</p>
                            <div class="">
                                <span class="badge">{{ group.members.count }} </span>
                                member{{ group.members.count|pluralize }}
                                <span class="badge">{{ group.posts.count }} </span>
                                post{{ group.posts.count|pluralize }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
