{% extends "groups/group_base.html" %}

{% block pregroup %}
    <!--
    <div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4" style="padding-top: 10px">
    -->
        {% include "groups/_group.html" %}
    <!--
    <div>
    -->
{% endblock %}

{% block group_content %}
<!--
<div class="col-md-8">
-->
<div class="container">
    <h3>Posts</h3>
    {% if group.posts.count == 0 %}
        <h2>No posts in this group yet!</h2>
    {% else %}
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}