<div class="col-sm-3 col-md-2">
    <div class="thumbnail ">
        <a class="pop" href="#">
            <img src={{ account.image_url }}>
        </a>
        <div class="caption">
            <a class="pop" href="{% url 'accounts:detail' pk=account.id %}">
                <h4>{{ account.username }}</h4>
            </a>
            <p>{{ account.description_html|safe|truncatechars_html:85 }}</p>
            <div class="">
                <span class="badge">{{ account.get_followed.count }} </span>
                fllowed{{ account.get_followed.count|pluralize }}
            </div>
        </a>

        </div>
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <img src="" class="imagepreview displayed" style="width: 100%; ">
                <!--
                <img src="" class="imagepreview displayed" style="max-width: 100%; max-height: 90vh; height: auto;">
                -->
            </div>
        </div>
    </div>
</div>