{% extends "base.html" %}

{% block content %}
    <div class="accounts-page">
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% block pre_account_content %}{% endblock %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% block account_content %}{% endblock %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% block post_account_content %}{% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

