{% extends "base.html" %}
{% block profile_page %}
{% if request.user.is_authenticated %}
{% for account in user_list %}
{% if account.id ==  user.id %}
            <!-- <div class="col-lg-6 col-sm-6"> -->
    <div class="col-lg-12 col-sm-12">
        <div class="card hovercard">
            <div class="card-background">
                <!--
                <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
                -->
                <img class="card-bkimg" alt="pic. of {{ account }}" src={{ account.image_url }}>
                <!-- http://lorempixel.com/850/280/people/9/ -->
            </div>
            <div class="useravatar">
                <!--
                <img alt="" src="http://lorempixel.com/100/100/people/9/">
                -->
                <img class="card-bkimg" alt="pic. of {{ account }}" src={{ account.image_url }}>
            </div>
            <div class="card-info"><span class="card-title">{{ account.username }}</span>

            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span
                        class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">Posts <span class="badge">{{ account.posts.count }} </span>
                    </div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2"
                        data-toggle="tab"><span
                        class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Groups <span class="badge">{{ account.group_members.count }} </span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="followed" class="btn btn-default" href="#tab3"
                        data-toggle="tab"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">Followed</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab4"
                        data-toggle="tab"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">Following</div>
                </button>
            </div>
        </div>

        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                {% for post in account.posts.all %}
                    {% include "posts/_post.html" %}
                {% endfor %}
                </div>
                <div class="tab-pane fade in" id="tab2">
                    <h3>groups</h3>
                    {% for group in account.group_members.all %}
                        {% include "groups/_group.html" %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade in" id="tab4">
                    <h3>This is tab 3</h3>
                    get_following: {{ account.get_following }} <br>
                                        {{ account.posts.all }}<br>
                    {{ user.image_url.all }}<br>
                    {{ user.groups }}<br>
                    {% for post in account.posts.all %}
                        {{ post }}

                    {% endfor %}
                    {{ account.group_members.all }}<br>
                    get_followers: {{ account.get_followers }} <br>
                    {#% for post in account.posts %#}
                    {#% include "posts/_post.html" %#}
                    {#% endfor %#}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
