{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
    <!-- <div class="container center_div"> -->
    <!--
    <div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4 transparent-form center-div" style="position: relative; text-align: center">
    -->
    <div class="row">
        <div class="container transparent-form center-div" style="margin-top: 15px">
            <!-- <h1>Log In</h1> -->
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-default" name="" value="Login">
                <input id="guest" type="submit" class="btn btn-default" name="" value="Guest Login">
            </form>
    </div>
    </div>
{% endblock %}
