{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
    {% for account in user_list %}
        {% if account.id ==  user.id %}
        <div class="col-sm-6 col-md-2 transparent-padding">
            <img class="img-responsive img-circle" style="width: 200px; " alt="pic. of {{ account }}" src={{ account.image_url }}>
        </div>

            <div class="col-sm-6 col-md-6">
            <h3>
                {{ account.description }}
            </h3>
                {{ account.get_followers }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
