body {
    margin: 0;
    overflow: hidden;
    // overflow: scroll;
    // background-color: black;
    // background-color: rgba(5, 9, 33, 0.86);
    background: url("../assets/earth_2.jpeg");
    // background-size: auto;
    background-size: 100% auto;
    // background-size: cover;
    color:white;
}

nav {
    background-color: aliceblue;
    // background-color: darkblue;
    // background-color: cornflowerblue;

}
input.transparent-input{
   background-color:transparent !important;
   border:none !important;
}

.transparent-form {
    // background-color: rgba(0,0,0,0.4);
    // background-color: black !important;
    // background-color: rgba(5,4,2,0.1);
    // background-color: rgba(255,255,255,0.4);
    background-color: rgba(2,2,2,0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid floralwhite;
    // border: 2px solid red;
    border-radius: 5px;
    margin: 0px;
}

.transparent-form-top-more {
    background-color: rgba(2,2,2,0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid floralwhite;
    border-radius: 5px;
    margin: 0px;
}

.transparent-padding {
    background-color: rgba(2,2,2,0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid floralwhite;
    border-radius: 5px;
    margin: 10px;
    margin: 0px;
}

.transparent-no-border {
    background-color: rgba(2,2,2,0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin: 0px;
}

.add-scroll-y {
    // min-height: 100%;
    // max-height: 100%;
    // height: 550px;
    // height: 100%;
    overflow-y: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.center-div{
    margin: 0 auto;
    width: 30%
}

