{% extends "base.html" %}

{% block content %}
<div class="posts-page">
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            {% block pre_post_content %}{% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            {% block post_content %}{% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            {% block post_post %}{% endblock %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

