{% extends "posts/post_base.html" %}

{% block pre_post_content %}
{% endblock %}

{% block post_content %}
    <div class="row">
        <form name="myform" method="GET" action="{% url 'posts:search' %}" class="form-row form-inline center-div"
              role="search">
            <div class="form-group">
                <input type="text" name="in_text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
    </div>
    <!--
    <form method="get" action="{#% url 'posts:search' %#}">
    <p>Filter: <input style="background-color: black" type="text" value="3" name="filter"/></p>
    <p><input type="submit" name="submit" value="submit"/></p>
    </form>
    -->
    {% for post in posts %}
        {% include "posts/_post.html" %}
    {% endfor %}
{% endblock %}
