{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="" style="margin: 0 auto">
            {% if user.is_authenticated %}
                {% block pre_post_content %}{% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% block post_content %}{% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% block post_post %}{% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}

